# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
ENV/
env/
*.db
*.sqlite3

# Android
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
android-app/*.iml
android-app/**/*.iml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.venv310/
